# Logs
swa/logs
swa/*.log
swa/npm-debug.log*
swa/yarn-debug.log*
swa/yarn-error.log*
swa/pnpm-debug.log*
swa/lerna-debug.log*

swa/node_modules
swa/dist
swa/dist-ssr
swa/*.local
swa/.env
swa/*.tsbuildinfo

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
