# vscode
.vscode/

# Azurite
azurite/

# Azure Functions
functions/data
functions/**/__pycache__
functions/.coverage
functions/coverage-summary.json
functions/local.settings.json

# Bicep Parameter Files
resources/*.parameters.bicepparam

# CosmosDB Emulator
cosmosdata/

# Python Virtual Environment
venv/

# SWA
swa/node_modules
swa/dist
swa/.env
swa/*.tsbuildinfo

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
