@import 'tailwindcss';

@plugin 'daisyui' {
  themes: light --default, dark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

body {
  min-height: 100vh;
}

/* リサイズパネル内でも tooltip が隠れないようにする */
@layer components {
  .tooltip::before,
  .tooltip::after {
    z-index: 100;
  }
}
